@model IEnumerable<Hotel>
@{
    List<string> allLocations = ViewData["AllLocations"] as List<string>;
    List<int> allYears = ViewData["AllYears"] as List<int>;
}

<h1>Summit Slope Retreats</h1>

<h3>Hotels</h3>

@if(ViewData["SearchLocation"] != null)
{
    <h4>Filtering by: @ViewData["SearchLocation"]</h4>
}

@if (ViewData["SearchYear"] != null)
{
    <h4>Filtering by: @ViewData["SearchYear"]</h4>
}

<p>
    @foreach (var location in allLocations)
    {
        <a href="/hotels?location=@location">@location</a><span> | </span>
    }
    <a href="/hotels">All Locations</a>
</p>

<p>
    @foreach (var year in allYears)
    {
        <a href="/hotels?year=@year">@year</a>

        <span> | </span>
    }
    <a href="/hotels">All Years</a>
</p>

<ul>
@foreach (var hotel in Model)
{
    <li>
            <strong>Name:</strong> <a href="/hotels/@hotel.Id">@hotel.Name</a>, <strong>Location:</strong> @hotel.Location, <strong>Year Built:</strong> @hotel.YearBuilt
    </li>
}
</ul>

<a href="/hotels/new">Add a Hotel</a>